
<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <span><%= story[:id] %>.</span>
            </div>
            <div class="media-content">
                <p class="title is-4"><%= story[:title] %></p>
                <p class="subtitle is-6">112 points by doener 2 hours ago | 84 comments</p>
            </div>
        </div>
    </div>
</div>
